@import '../../styles/variables';
#para1 {
  color: $font-color;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
}

#logo-container,
#text-container,
#mycart {
  border: 2px solid red;
}

#side-panel-container {
  width: 20%;
  height: 100%;
  border: 2px solid blue;
}
