// $font-size: 1rem;
// $font-family: 'Inter', sans-serif;
// $background-color: #e8f6fa;
// $font-color: #dae0e0;
// $primary: darkcyan;
// $page-width: 650px;
$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #fef2f2;
$font-color: #b6666f;
$primary: #f53163;
$page-width: 650px;
