// $font-size: 1rem;
// $font-family: 'Inter', sans-serif;
// $background-color: #e8f6fa;
// $font-color: #dae0e0;
// $primary: darkcyan;
// $page-width: 650px;
// new color
// $font-size: 1rem;
// $font-family: 'Inter', sans-serif;
// $navbar-color: #203647;
// $background-color: #eefbfb;
// $primary2: #007cc7;
// $font-color: #c2e9fd;
// $primary: #f53163;
// $secondary: #fef2f2;
// $page-width: 650px;
$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #eeeded;
$font-color: #b6666f;
$primary: #f53163;
$secondary: #fcf5f5;
$page-width: 650px;
